MAIL_API_URL=https://api.zeptomail.in/v1.1/email
MAIL_SEND_TOKEN=
MAIL_FROM_ADDRESS=info@primeserve.in
MAIL_FROM_NAME=Primeserve
PRIMESERVE_SUPER_ADMIN_EMAIL=primeserve45@gmail.com
PRIMESERVE_SUPER_ADMIN_PASSWORD=
